@model UserListModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row"> @* Row 12 birimlik bir satırdır. *@
    <div class="col-6"> @* Column bir Row'u böler. (Burada 6 birimlik böldük) *@
        <h3>Hesap Eklenecek Kişinin Bilgileri</h3>
        <p>
            Kullanıcının Adı: @Model.Name
        </p>
        <p>
            Kullanıcının Soyadı: @Model.Surname
        </p>
        <p>
            Kullanıcının Aktif Hesap Sayısı: <getAccountCount application-user-id="@Model.Id"></getAccountCount> 
        </p>
    </div>

    <div class="col-6">
        <form method="POST" asp-action="Create" asp-controller="Account">
            <input type="hidden" name="ApplicationUserId" value="@Model.Id" />
            <div class="mb-3">
                <label class="form-label">Hesap Numarası</label>
                <input type="number" class="form-control" name="AccountNumber"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Bakiye</label>
                <input type="number" class="form-control" name="Balance"/>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>
